# https://intellij-support.jetbrains.com/hc/en-us/articles/206544839                                                                             
# https://github.com/github/gitignore/blob/master/Global/JetBrains.gitignore

# User-specific stuff
CSVReader/.idea/**/workspace.xml
CSVReader/.idea/**/tasks.xml
CSVReader/.idea/**/usage.statistics.xml
CSVReader.idea/**/dictionaries
CSVReader/.idea/**/shelf 
UserInterfaceModule/.idea/workspace.xml

# IntelliJ
out/
